@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@600;700;800;900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

/*---------------------------------------------------header*/
.navbar {
    background-color: rgba(183, 110, 121, .4);
    max-height: 80px;
    position: absolute;
    z-index: 10;
    width: 100vw;
}

.logo {
    font-family: "Big Shoulders Inline Text";
    font-weight: 900;
}

.logo a {
    color: rgb(45, 240, 240);
    font-size: 45px;
    text-decoration: none;
}

div ul li {
    display: inline-block;
    border-right: 1px solid;
    padding: 0 15px;
    margin: 0;
    font-size: 25px;
    font-weight: 300;
    color: rgb(183, 110, 121);
}

div ul li a {
    color: rgb(45, 240, 240);
}

.no-border {
    border-right: none;
}

.navbar-toggler-icon {
    color: rgb(45, 240, 240);
    margin-top: 30%;
    font-size: 1.5em;
}

.navbar-collapse {
    text-align: right;
}

/*---------------------------------------------------slider*/

.slider-container {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    position: relative;
}

.img {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*---------------------------------------------------slider-arrows*/
.radio-img {
    display: none;
}

.pre, .nxt {
    width: 30px;
    height: 75px;
    position: absolute;
    top: 50%;
    border-radius: 23px;
    z-index: 99;
    cursor: pointer;
    font-size: 50px;
    background-color: rgba(183, 110, 121, .4);
    color: rgb(45, 240, 240);
    z-index: 999;
    text-align: center;
    justify-content: center;
}

.pre {
    left: 25px;
}

.nxt {
    right: 25px;
}

.nxt div {
    margin-top: 40px;
}

/*---------------------------------------------------slider-bars*/
.nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav {
    width: 15%;
    height: 20px;
    bottom: 5%;
    border-radius: 23px;
    background-color: rgba(183, 110, 121, .4);
    position: absolute;
    margin: auto;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.bars {
    width: 12%;
    height: 5px;
    border-radius: 23px;
    margin: 0 3%;
    position: relative;
    background-color: rgba(45, 240, 240, .3);
}

/*---------------------------------------------------checked-image-settings*/
#img-1:checked ~ #pic-1,
#img-2:checked ~ #pic-2,
#img-3:checked ~ #pic-3,
#img-4:checked ~ #pic-4,
#img-5:checked ~ #pic-5 {
    z-index: 9;
}

/*---------------------------------------------------checked-bar-settings*/
#img-1:checked ~ .nav-wrapper .nav #bar-1,
#img-2:checked ~ .nav-wrapper .nav #bar-2,
#img-3:checked ~ .nav-wrapper .nav #bar-3,
#img-4:checked ~ .nav-wrapper .nav #bar-4,
#img-5:checked ~ .nav-wrapper .nav #bar-5 {
    background-color: rgb(45, 240, 240);
}

/*---------------------------------------------------callout*/
article {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

article h1 {
    position: absolute;
    top: 54%;
    text-align: center;
    font-weight: 400;
    color: rgba(45, 240, 240);
    text-shadow: 1px 1px 60px black;
    z-index: 10;
}

article h1 div {
    font-family: "Big Shoulders Inline Text";
    font-weight: 900;
    color: rgba(45, 240, 240);
    border-radius: 23px;
    padding: 0px 15px;
}

.cta-home {
    position: absolute;
    top: 75%;
    padding: 10px 40px;
    border-radius: 35px;
    color: rgb(183, 110, 121);
    font-size: 2em;
    font-weight: 600;
    background-color: rgba(45, 240, 240, .9);
    z-index: 10;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn:active:focus {
    background-color: rgba(183, 110, 121, .9);
    color: rgb(45, 240, 240);
}

/*---------------------------------------------------about*/
#about {
    position: relative;
    min-height: 100vh;
    width: 100%;
}

#about h1 {
    width: 100;
    text-align: center;
    font-family: "Big Shoulders Inline Text";
    font-weight: 900;
    font-size: 50px;
    margin: 1% 0 -.5%;
    color: rgb(183, 110, 121);
}

#outer-circle {
    position: relative;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    border-bottom: 1px solid rgb(45, 240, 240);
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#outer-circle:hover {
    border-bottom: 1px solid white;
    border-top: 1px solid rgb(45, 240, 240);
}

#mid-circle {
    position: absolute;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border-right: 1px solid rgb(45, 240, 240);
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mid-circle:hover {
    border-right: 1px solid white;
    border-left: 1px solid rgb(45, 240, 240);
}

#inner-circle {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-top: 1px solid rgb(45, 240, 240);
    border-left: 1px solid rgb(45, 240, 240);
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner-circle:hover {
    border-top: 1px solid white;
    border-bottom: 1px solid rgb(45, 240, 240);
}

#about-pic {
    display: flex;
    justify-content: center;
}

#about-pic img {
    width: 280px;
    height: 280px;
    border: 1px solid rgb(183, 110, 121);
    border-radius: 50%;
    object-fit: cover;
    align-items: center;
}

#about-pic img:hover {
    width: 360px;
    height: 360px;
}

.info-container {
    margin: .5% 0;
    display: flex;
    justify-content: center;
}

.info {
    width: 20%;
    display: inline-block;
    margin: 0 15px;
    text-align: center;
    color: rgb(95, 97, 99);
}

.info h2 {
    font-size: 150%;
    color: rgb(183, 110, 121);
}

.info h2:hover {
    font-size: 180%;
}

#info-singer, #info-performer {
}

#info-instrumentalist, #info-composer {
}

#cta-about-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 1%;
}

.cta-about {
    border-radius: 35px;
    color: rgba(45, 240, 240, .9);
    font-size: 2em;
    font-weight: 600;
    background-color: rgb(183, 110, 121);
    padding: 5px 20px;
}

/*---------------------------------------------------carousel*/
#carousel-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.carousel {
    width: 800px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-inner {
    width: 360px;
    height: 200px;
    display: flex;
    align-items: center;
}

.carousel-indicators {
    margin-bottom: -10px;
}

.carousel-indicators li {
    background-color: rgb(183, 110, 121);
    margin-bottom: 10px;
}

.carousel-control-prev span,
.carousel-control-next span {
    color: rgb(183, 110, 121);
    font-size: 50px;
}

.carousel-item {
    text-align: center;
    color: rgb(95, 97, 99);
}

.carousel-item h2 {
    color: rgb(183, 110, 121);
}

/*---------------------------------------------------media-queries*/
@media(max-width: 965px) {

    .info-container {
        display: none;
    }
}

@media(min-width: 965px) {

    #carousel-container {
        display: none;
    }
}

@media(max-width: 700px) {

    #pic-4 img {
        width: 210vw;
        height: 100%;
        margin-left: -500px;
    }
}

@media(max-width: 587px) {

    #pic-4 img {
        width: 210vw;
        height: 100%;
        margin-left: -400px;
    }

    .pre {
        left: 8px;
    }

    .nxt {
        right: 8px;
    }
}

@media(max-width: 575px) {
    .nav-item {
        width: 100%;
        border: none;
        background-color: rgba(183, 110, 121, .4);
        margin-top: 2px;
        float: right;
        border-radius: 23px;
    }

    .navbar-nav {
        margin-top: 3px;
        margin-right: -14px;
    }

    article h1 {
        font-size: 30px;
    }

    article h1 div {
        font-size: 40px;
    }
}

@media(max-width: 389px) {

    #pic-5 img {
        width: 210vw;
        height: 100%;
        margin-left: -200px;
    }

    #pic-4 img {
        width: 210vw;
        height: 100%;
        margin-left: -275px;
    }

    #pic-1 img {
        width: 210vw;
        height: 100%;
        margin-left: -250px;
    }

    article h1 {
        font-size: 27px;
    }

    article h1 div {
        margin-top: 22px;
    }
}

@media(max-width: 338px)  {
    .pre {
        left: 8px;
    }

    .nxt {
        right: 8px;
    }

    article h1 {
        font-size: 20px;
    }

    article h1 div {
        font-size: 38px;
        margin-top: 25px;
    }
}