@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@600;700;800;900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

/*---------------------------------------------------header*/
.navbar {
    background-color: rgba(124, 124, 124, .4);
    max-height: 80px;
    position: absolute;
    z-index: 10;
    width: 100vw;
}

.logo {
    font-family: "Big Shoulders Inline Text";
    font-weight: 900;
}

.logo a {
    color: rgb(238, 229, 233);
    font-size: 45px;
    text-decoration: none;
}

div ul li {
    display: inline-block;
    border-right: 1px solid;
    padding: 0 5px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(238, 229, 233);
}

div ul li a {
    color: rgb(238, 229, 233);
}

div ul li a:hover {
    color: rgba(238, 229, 233, .7);
}

.no-border {
    border-right: none;
}

.navbar-toggler-icon {
    color: rgb(238, 229, 233);
    margin-top: 30%;
    font-size: 1.5em;
}

.navbar-collapse {
    text-align: right;
}

/*---------------------------------------------------slider*/

.slider-container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.img {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*---------------------------------------------------slider-arrows*/
.radio-img {
    display: none;
}

.pre, .nxt {
    width: 30px;
    height: 75px;
    position: absolute;
    top: 50%;
    z-index: 99;
    cursor: pointer;
    font-size: 50px;
    color: rgb(238, 229, 233);
    z-index: 10;
}

.pre {
    left: 25px;
}

.nxt {
    right: 25px;
}

/*---------------------------------------------------slider-bars*/
#nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav {
    min-width: 100px;
    height: 20px;
    bottom: 3%;
    position: absolute;
    z-index: 10;
    flex-wrap: nowrap;
}

.bars {
    width: 3.5vw;
    height: 3px;
    margin: 0 3px;
    background-color: rgba(238, 229, 233, .3);
}

/*---------------------------------------------------checked-image-settings*/
#img-1:checked ~ #pic-1,
#img-2:checked ~ #pic-2,
#img-3:checked ~ #pic-3,
#img-4:checked ~ #pic-4,
#img-5:checked ~ #pic-5 {
    z-index: 9;
}

/*---------------------------------------------------checked-bar-settings*/
#img-1:checked ~ #nav-wrapper .nav #bar-1,
#img-2:checked ~ #nav-wrapper .nav #bar-2,
#img-3:checked ~ #nav-wrapper .nav #bar-3,
#img-4:checked ~ #nav-wrapper .nav #bar-4,
#img-5:checked ~ #nav-wrapper .nav #bar-5 {
    background-color: rgb(238, 229, 233);
}

/*---------------------------------------------------callout*/
#callout {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#callout h1 {
    position: absolute;
    top: 54%;
    text-align: center;
    font-weight: 400;
    color: rgba(124, 124, 124);
    text-shadow: 1px 1px 1px rgba(238, 229, 233);
    z-index: 10;
}

#relaxed {
    font-family: "Big Shoulders Inline Text";
    font-weight: 900;
    color: rgba(124, 124, 124);
    padding: 0px 15px;
    margin-bottom: 5vh;
    display: block;
}

.cta-home {
    text-decoration: none;
    text-shadow: none;
    padding: 10px 30px;
    border-radius: 35px;
    color: rgb(124, 124, 124);
    font-size: .8em;
    font-weight: 600;
    background-color: rgba(238, 229, 233, .9);
    z-index: 10;
}

.cta-home:hover,
.cta-home:active,
.cta-home:focus,
.cta-home:active:focus {
    background-color: rgba(124, 124, 124, .9);
    color: rgb(238, 229, 233);
    text-decoration: none;
}

/*---------------------------------------------------about*/
#about {
    position: relative;
    width: 100%;
}

#about h1 {
    width: 100%;
    text-align: center;
    font-family: "Big Shoulders Inline Text";
    text-shadow: 1px 1px rgba(238, 229, 233);
    font-weight: 900;
    font-size: 50px;
    margin: 1% 0 -.5%;
    color: rgb(124, 124, 124);
}

#outer-circle {
    position: relative;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    border-bottom: 1px solid rgb(243, 178, 114);
    display: flex;
    justify-content: center;
    align-items: center;
}

#outer-circle:hover {
    border-bottom: 1px solid white;
    border-top: 1px solid rgb(243, 178, 114);
}

#mid-circle {
    position: absolute;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border-right: 1px solid rgb(243, 178, 114);
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mid-circle:hover {
    border-right: 1px solid white;
    border-left: 1px solid rgb(243, 178, 114);
}

#inner-circle {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-top: 1px solid rgb(243, 178, 114);
    border-left: 1px solid rgb(243, 178, 114);
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner-circle:hover {
    border-top: 1px solid white;
    border-bottom: 1px solid rgb(243, 178, 114);
}

#about-pic {
    display: flex;
    justify-content: center;
}

#about-pic img {
    width: 280px;
    height: 280px;
    border: 1px solid rgb(243, 178, 114);
    border-radius: 50%;
    object-fit: cover;
    align-items: center;
}

#about-pic img:hover {
    width: 360px;
    height: 360px;
}

#info-container {
    margin: .5% 0;
    display: flex;
    justify-content: center;
}

.info {
    width: 20%;
    display: inline-block;
    margin: 0 15px;
    text-align: center;
    color: rgba(124, 124, 124, .6);
}

.info h2 {
    font-size: 150%;
    color: rgb(124, 124, 124);
    text-shadow: 1px 1px rgba(238, 229, 233);
}

.info h2:hover {
    font-size: 180%;
}

#cta-about-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 1%;
}

#cta-about {
    border-radius: 35px;
    color: rgba(243, 178, 114, .9);
    font-size: 2em;
    font-weight: 600;
    background-color: rgb(124, 124, 124);
    padding: 5px 20px;
}

#cta-about:hover {
    text-decoration: none;
    background-color: rgba(243, 178, 114, .9);
    color: rgba(124, 124, 124, .9);
}

/*---------------------------------------------------carousel*/
#carousel-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.carousel {
    width: 800px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-inner {
    width: 360px;
    height: 200px;
    display: flex;
    align-items: center;
}

.carousel-indicators {
    margin-bottom: -10px;
}

.carousel-indicators li {
    background-color: rgb(124, 124, 124);
    margin-bottom: 10px;
}

.carousel-control-prev span,
.carousel-control-next span {
    color: rgb(124, 124, 124);
    font-size: 50px;
}

.carousel-item {
    text-align: center;
    color: rgba(124, 124, 124, .6);
}

.carousel-item h2 {
    color: rgb(124, 124, 124);
}

/*---------------------------------------------------video-section*/
#video-section {
    width: 100%;
    background-color: rgba(124, 124, 124);
}

#video-section h1 {
    text-align: center;
    font-family: "Big Shoulders Inline Text";
    color: rgb(238, 229, 233);
    text-shadow: 1px 1px rgba(243, 178, 114, .2);
    font-weight: 900;
    font-size: 50px;
    padding: 20px 0 0;
    margin-bottom: 30px;
}

#video-row {
    margin: 5px;
}
.video {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.video-header {
    position: absolute;
    font-size: 10px;
    color: rgba(243, 178, 114, .7);
}

.video-header iframe {
    border: 0;
}

.video-header h3 {
    font-size: 20px;
    font-weight: 300;
}

iframe {
    margin: 35px 0;
}

#youtube-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

#youtube-btn {
    color: rgba(243, 178, 114);
    margin-bottom: 20px;
}

#cta-contact-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

#cta-contact {
    border-radius: 35px;
    color: rgba(243, 178, 114, .8);
    font-size: 2em;
    font-weight: 600;
    background-color: rgba(238, 229, 233);
    padding: 5px 20px;
    margin-bottom: 20px;
}

#cta-contact:hover {
    text-decoration: none;
    background-color: rgba(243, 178, 114, .8);
    color: rgba(238, 229, 233);
}

/*---------------------------------------------------contact-section-1*/


#contact h1 {
    text-align: center;
    font-family: "Big Shoulders Inline Text";
    color: rgba(243, 178, 114);
    font-weight: 900;
    font-size: 50px;
    padding: 20px 0 0;
    margin-bottom: 0;
}

.contact-heading {
    text-align: center;
    color: rgba(124, 124, 124);
    margin: 40px;
}

.contact-info {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 40px;
    font-size: 40px;
}

.contact-element-row {
    display: flex;
    justify-content: center;
}

.contact-element {
    margin: 20px;
    color: rgba(124, 124, 124, .6);
}

.contact-element p {
    overflow: hidden;
    font-size: 2.2vw;
    margin-top: 35px;
    text-decoration: none;
}

.contact-element span {
    font-size: 40px;
    margin: 35px 0;
}

.contact-element a {
    color: rgba(243, 178, 114);
    text-shadow: none;
}

.contact-element a:hover {
    color: rgba(243, 178, 114, .6);
}

/*---------------------------------------------------contact-section-2*/
.contact-row {
    margin: 70px 0;
}

.contact-icon {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: rgba(124, 124, 124, .9);
}

.contact-item {
    display: flex;
    justify-content: center;
    font-size: 3vw;
    color: rgba(124, 124, 124, .9);
    text-decoration: none;
}

.phone {
    color: pink;
    text-decoration: 0;
}

.social-icon {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.social-icon a {
    color: rgb(243, 178, 114);
}

.social-icon a:hover {
    color: rgba(243, 178, 114, .6);
}

hr {
    width: 60%;
    background-color: rgba(243, 178, 114);
    margin-top: -20px;
}

/*---------------------------------------------------contact-form*/
.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgba(124, 124, 124);
    margin-bottom: 30px;
}

form {
    width: 50%;
    font-size: 25px;
}
form input,
form textarea {
    margin-bottom: 25px;
}

#message-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

#message-btn {
    border-style: none;
    border-radius: 35px;
    color: rgba(124, 124, 124);
    font-size: 1.3em;
    font-weight: 600;
    background-color: rgb(243, 178, 114);
    padding: 6px 24px;
}

#message-btn:hover {
    background-color: rgb(124, 124, 124);
    color: rgb(243, 178, 114);
}

#message-btn p {
    margin: 0;
}

/*---------------------------------------------------footer*/
footer {
    background-color: rgb(124, 124, 124);
    color: rgb(243, 178, 114);
    height: 80px;
}

#ftr-element-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.ftr-element {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#play-btn {
    width: 20%;
    border-right: 1px solid;
}

#play-btn a {
    color: rgb(243, 178, 114);
    font-size: 40px;
}

#play-btn a:hover {
    color: rgba(243, 178, 114, .6);
}

#cnt-info-wrapper-1 {
    width: 60%;
    border-right: 1px solid;
    display: flex;
    justify-content: center;
}

.cnt-info {
    width: 100%;
}

.cnt-info div {
    display: inline-block;
    margin-left: 1vw;
    margin-top: 5%;
}

.cnt-info i {
    font-size: 2vw;
    margin-right: 2vw;
}

.cnt-info p {
    font-size: 1.7vw;
}

#cnt-info-wrapper-2 {
    width: 60%;
    border-right: 1px solid;
}

.cnt-info-2 {
    text-align: center;
    margin-top: 20px;
}

.cnt-info-2 i {
    margin-right: 30px;
    font-size: 20px;
}

#social-links {
    width: 20%;
}

#social-links div {
    display: flex;
    justify-content: center;
    width: 33%;
}

#social-links div a {
    color: rgb(243, 178, 114);
    font-size: 3vw;
}

#social-links div a:hover {
    color: rgba(243, 178, 114, .6);
}

/*---------------------------------------------------media-queries-width*/
@media(max-width: 965px) {

    #info-container {
        display: none;
    }

    #cnt-info-wrapper-1 {
        display: none;
    }

    #social-links div a {
        font-size: 4vw;
    }

    .video-header h3 {
        font-size: 15px;
    }
}

@media(min-width: 965px) {

    #carousel-container {
        display: none;
    }

    #cnt-info-wrapper-2 {
        display: none;
    }
}

@media(max-width: 700px) {

    .contact-element p {
        font-size: 2vw;
    }
    
    #pic-4 img {
        width: 210vw;
        height: 100%;
        margin-left: -500px;
    }
}

@media(max-width: 587px) {

    #pic-4 img {
        width: 210vw;
        height: 100%;
        margin-left: -400px;
    }

    .pre {
        left: 8px;
    }

    .nxt {
        right: 8px;
    }
}

@media(max-width: 575px) {

    #contact-section-1 {
        display: none;
    }

    .nav-item {
        width: 100%;
        border: none;
        background-color: rgba(124, 124, 124, .3);
        margin-top: 2px;
        float: right;
        border-radius: 23px;
    }

    .navbar-nav {
        margin-top: 3px;
        margin-right: -14px;
    }

    #callout h1 {
        font-size: 30px;
    }

    #callout h1 div {
        font-size: 40px;
    }

    .video-header h3 {
        font-size: 2.5vw;
    }
}

@media(min-width: 575px){

    #contact-section-2{
        display: none;
    }
}

@media(max-width: 517px) {
    .carousel-inner {
        width: 260px;
        height: 200px;
        display: flex;
        align-items: center;
    }

    #outer-circle {
        width: 320px;
        height: 320px;;
    }

    #mid-circle {
        width: 300px;
        height: 300px;
    }

    #inner-circle {
        width: 280px;
        height: 280px;
    }

    #about-pic img {
        width: 260px;
        height: 260px;
    }

    .cnt-info-2 p {
        font-size: 3vw;
    }

    .cnt-info-2 i {
        font-size: 4vw;
    }

}

@media(max-width: 389px) {

    #pic-5 img {
        width: 210vw;
        height: 100%;
        margin-left: -200px;
    }

    #pic-4 img {
        width: 210vw;
        height: 100%;
        margin-left: -275px;
    }

    #pic-1 img {
        width: 210vw;
        height: 100%;
        margin-left: -250px;
    }

    #callout h1 {
        font-size: 27px;
    }

    #callout h1 div {
        margin-top: 22px;
    }

    .carousel-inner {
        width: 240px;
        height: 240px;
        display: flex;
        align-items: center;
    }

    .carousel-item h2 {
        font-size: 25px;
        }

    .carousel-item p {
        font-size: 15px;
    }    

    #outer-circle {
        width: 300px;
        height: 300px;
    }

    #mid-circle {
        width: 280px;
        height: 280px;
    }

    #inner-circle {
        width: 260px;
        height: 260px;
    }

    #about-pic img {
        width: 240px;
        height: 240px;
    }
}

@media(max-width: 338px)  {
    .pre {
        left: 8px;
    }

    .nxt {
        right: 8px;
    }

    #callout h1 {
        font-size: 20px;
    }

    #callout h1 div {
        font-size: 38px;
        margin-top: 25px;
    }

    .carousel-inner {
        width: 210px;
        height: 230px;
        display: flex;
        align-items: center;
    }

    .carousel-item h2 {
        font-size: 25px;
        }

    .carousel-item p {
        font-size: 13px;
    }    

    #outer-circle {
        width: 280px;
        height: 280px;
    }

    #mid-circle {
        width: 260px;
        height: 260px;
    }

    #inner-circle {
        width: 240px;
        height: 240px;
    }

    #about-pic img {
        width: 220px;
        height: 220px;
    }
}

/*---------------------------------------------------media-queries-height*/
@media(max-height: 460px) {
    #callout h1 {
    font-size: 35px;
    }
}

@media(max-height: 415px) {
    #callout h1 {
    font-size: 30px;
    }
}

@media(max-height: 365px) {
    #callout h1 {
    font-size: 27px;
    }
}

@media(max-height: 335px) {
    #callout h1 {
    font-size: 25px;
    }
}

@media(max-height: 315px) {
    #callout h1 {
    font-size: 23px;
    }
}

@media(max-height: 295px) {
    #callout h1 {
    font-size: 20px;
    }
}